In [15]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

**operations on data**

In [16]:
animals=pd.DataFrame({'name':['asd','sdf','fgh','hjk','rte'],'age':[12,23,45,56,78],'group':['cse','cse','ece','ece','mech'],'region1':['NAN','amb','dfg','tre','tyu']})

In [17]:
animals.age.describe()

count     5.00000
mean     42.80000
std      26.26214
min      12.00000
25%      23.00000
50%      45.00000
75%      56.00000
max      78.00000
Name: age, dtype: float64

**describe()**  : This method generates a high-level summary of the attributes of the given column. It is type-aware, meaning that its output changes based on the data type of the input

In [18]:
animals.name.describe()

count       5
unique      5
top       asd
freq        1
Name: name, dtype: object

**mean()**:  simple summary statistic about a column in a DataFrame or a Series, there is usually a helpful pandas function

In [19]:
animals.age.mean()

42.8

To see a list of unique values we can use the unique() function:

In [20]:
animals.name.unique()

array(['asd', 'sdf', 'fgh', 'hjk', 'rte'], dtype=object)

To see a list of unique values and how often they occur in the dataset, we can use the value_counts() method

In [21]:
animals.name.value_counts()

asd    1
sdf    1
fgh    1
hjk    1
rte    1
Name: name, dtype: int64

Maps
A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values.ie.,transforms to new format.

There are two mapping methods ,

map()

ex : to remean the age

In [24]:
m1=animals.age.mean()
animals.age.map(lambda p:p - m1)

0   -30.8
1   -19.8
2     2.2
3    13.2
4    35.2
Name: age, dtype: float64

The function you pass to map() should expect a single value from the Series (a point value, in the above example), and return a transformed version of that value. map() returns a new Series where all the values have been transformed by your function.

apply() is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.

In [25]:
def remean(row):
    row.age=row.age-m1
    return row

animals.apply(remean,axis='columns')

  name   age group region1
0  asd -30.8   cse     NAN
1  sdf -19.8   cse     amb
2  fgh   2.2   ece     dfg
3  hjk  13.2   ece     tre
4  rte  35.2  mech     tyu

If we had called reviews.apply() with axis='index', then instead of passing a function to transform each row, we would need to give a function to transform each column.


map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.

In [26]:
animals.head(1)

  name  age group region1
0  asd   12   cse     NAN

these mapping func are builtin in pandas.

faster way to remean is,

In [27]:
m2=animals.age.mean()
animals.age - m2

0   -30.8
1   -19.8
2     2.2
3    13.2
4    35.2
Name: age, dtype: float64

In this code we are performing an operation between a lot of values on the left-hand side (everything in the Series) and a single value on the right-hand side (the mean value). Pandas looks at this expression and figures out that we must mean to subtract that mean value from every value in the dataset.

Pandas will also understand what to do if we perform these operations between Series of equal length. For example, an easy way of combining country and region information in the dataset would be to do the following:
must beof same type to combine.

In [31]:
animals.name + "-"+animals.region1

0    asd-NAN
1    sdf-amb
2    fgh-dfg
3    hjk-tre
4    rte-tyu
dtype: object

In [ ]:
These operators are faster than map() or apply() because they use speed ups built into pandas. All of the standard Python operators (>, <, ==, and so on) work in this manner.

However, they are not as flexible as map() or apply(), which can do more advanced things, like applying conditional logic, which cannot be done with addition and subtraction alone.