In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

Oftentimes data will come to us with column names, index names, or other naming conventions that we are not satisfied with. In that case, you'll learn how to use pandas functions to change the names

Renaming
The first function we'll introduce here is rename(), which lets you change index names and/or column names.

In [4]:
animals=pd.DataFrame({'name':['asd','sdf','fgh','hjk','rte'],'age':[12,23,45,56,78],'group':['cse','cse','ece','ece','mech'],'region1':['','amb','dfg','tre','tyu']})

In [5]:
animals.rename(columns={'name': 'pname'})

  pname  age group region1
0   asd   12   cse
1   sdf   23   cse     amb
2   fgh   45   ece     dfg
3   hjk   56   ece     tre
4   rte   78  mech     tyu

rename() lets you rename index or column values by specifying a index or column keyword parameter, respectively. It supports a variety of input formats, but usually a Python dictionary is the most convenient. Here is an example using it to rename some elements of the index.

In [6]:
animals.rename(index={0: 'firstEntry', 1: 'secondEntry'})

            name  age group region1
firstEntry   asd   12   cse
secondEntry  sdf   23   cse     amb
2            fgh   45   ece     dfg
3            hjk   56   ece     tre
4            rte   78  mech     tyu

You'll probably rename columns very often, but rename index values very rarely. For that, set_index() is usually more convenient.

Both the row index and the column index can have their own name attribute. The complimentary rename_axis() method may be used to change these names. For example:

In [8]:
animals.rename_axis("details", axis='rows').rename_axis("fields", axis='columns')

fields  name  age group region1
details
0        asd   12   cse
1        sdf   23   cse     amb
2        fgh   45   ece     dfg
3        hjk   56   ece     tre
4        rte   78  mech     tyu

Combining
When performing operations on a dataset, we will sometimes need to combine different DataFrames and/or Series in non-trivial ways. Pandas has three core methods for doing this. In order of increasing complexity, these are concat(), join(), and merge(). Most of what merge() can do can also be done more simply with join(), so we will omit it and focus on the first two functions here.

The simplest combining method is concat(). Given a list of elements, this function will smush those elements together along an axis.

This is useful when we have data in different DataFrame or Series objects but having the same fields (columns). One example: the YouTube Videos dataset, which splits the data up based on country of origin (e.g. Canada and the UK, in this example). If we want to study multiple countries simultaneously, we can use concat() to smush them together:

In [ ]:
#canadian_youtube = pd.read_csv("../input/youtube-new/CAvideos.csv")   file path1
#british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")    filepath2

#pd.concat([canadian_youtube, british_youtube])

The middlemost combiner in terms of complexity is join(). join() lets you combine different DataFrame objects which have an index in common. For example, to pull down videos that happened to be trending on the same day in both Canada and the UK, we could do the following:


left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

The lsuffix and rsuffix parameters are necessary here because the data has the same column names in both British and Canadian datasets. If this wasn't true (because, say, we'd renamed them beforehand) we wouldn't need them.